extends layout


block content
  h1= title
  p Hello #{username},
  p The mailing address we will use to mail you a Games-R-Us brochure is below.<br><br>

     p Address: #{address}
     p City: #{city}
     p State: #{state} <br><br>

  p Thank you for your interest in Games-R-Us games.
